<a href="https://colab.research.google.com/github/Datlik/Hledaci-pokladu/blob/main/JupyterNotebook/SQL/Insert_select_agregacniFunkce_zadani.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSERT, SELECT, agregační funkce

## Insert
Nyní když už umíme vytvořit databáze, musíme do nich také umět zapisovat.
Takový zápis se provede pomocí klíčového slova INSERT.
Abychom mohli zapisovat do databáze musíme být připojeni, to se provede následovně.

Jako první si musíme nainstalovat knihovnu mysql-connector

In [1]:
! pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 7.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp311-cp311-linux_x86_64.whl size=247949 sha256=8ec8394ff5a86774b696736fe81fa19bfa6fe205a497e2e457bd723763840581
  Stored in directory: /root/.cache/pip/wheels/17/cd/ed/2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

Poté se musíme připojit do databáze a vytvořit tabulku.
Budeme vytvářet tabulku Auto s náledujícími atriuty:
* id int
* spz text
* pocet_sedadel int
* max_rychlost int
* nosnost int
* nutna_kvalifikace text
* datum_vyroby date
Prozatím atributům nebudeme přiřazovat žádné specialní vlastnosti.

Kód pro vytvoření takové tabulky bude vypadat takto

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "dbs.spskladno.cz"
    ,user = "student9"
    ,password = "spsnet"
    ,database = "vyuka9"
)

mycursor = mydb.cursor()

mycursor.execute("""CREATE TABLE Automobil(
    id int,
    spz text,
    pocet_sedadel int,
    max_rychlost int,
    nosnost int,
    nutna_kvalifikace text,
    datum_vyroby date
)""") # do """""" se zadává samotný SQL požadavek
# příkaz execute si můžeme představit jako napsání SQL požadavku do phpMyAdmin

mydb.commit() # tento příkaz si můžeme představit jako stisknutí Enteru

mycursor.close()
mydb.close()
# tyto poslední 2 příkazy nás odpojí od databáze

Nyní, abychom mohli do databáze zapisovat, musíme se znovu přihlásit (případně se předtím neodhlašovat...) a použít příkaz INSERT

### Syntaxe INSERT
Abychom úspěšně zapsali do databáze musíme příkaz INSERT zapsat násedujícím způsobem (rozdělení na řádky je pouze pro přehlednost - celý dotaz může být zapsán v jednom řádku):
<pre>
INSERT INTO nazevTabulky (atribut_1, atribut_2, atribut_3) VALUES
    
(hodnota_1, hodnota_2, hodnota_3),
    
(hodnota_1, hodnota_2, hodnota_3),
    
(hodnota_1, hodnota_2, hodnota_3);
</pre>
* Každý řádek hodnot odpovídá jednomu novému záznamu (řádku) v tabulce
* Je nutné dodržet datové typy a všechny nastavené vlastnosti. Např.: text musí být v uvozovkách

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
     host = "dbs.spskladno.cz"
    ,user = "student9"
    ,password = "spsnet"
    ,database = "vyuka9"
)
mycursor = mydb.cursor()

mycursor.execute("""INSERT INTO Automobil
(id, spz, pocet_sedadel, max_rychlost, nosnost,  nutna_kvalifikace, datum_vyroby) VALUES
(1, '1A1111', 4, 190, 3, 'B',  '2000-09-09'),
(2, '2B2222', 2, 220, 2, 'B',  '2020-01-01');
""") # do """""" se zadává samotný SQL požadavek
# příkaz execute si můžeme představit jako napsání SQL požadavku do phpMyAdmin
# ! pokud zapisujeme text, tak ho musíme dát do jiných uvozovek,
# ! než ve kterých je uvozen celý příkaz

mydb.commit() # tento příkaz si můžeme představit jako stisknutí Enteru

# tyto poslední 2 příkazy nás odpojí od databáze
mycursor.close()
mydb.close()

## SELECT
Druhou důležitou funkcí databáze je možnost data číst.
To se provádí pomocí klíčového slova SELECT.

### Syntaxe SELECT
Abychom úspěšně získali data z databáze musíme příkaz SELECT zapsat násedujícím způsobem:

<pre>
SELECT * FROM nazevTabulky; /*Tento příkaz vypíše uplně všechny atributy (sloupečky) a záznamy (řádky) z tabulky.*/
</pre>
Získávání dat můžeme omezit pouze na některé atributy (sloupečky) následujícím způsobem:

<pre> SELECT atribut_1, atribut_2 FROM nazevTabulky; <pre>

V samotném SQL můžeme při výpisu pozměnit název atributu, zvýší se tím přehlednost:

<pre> SELECT atribut_1 AS "NovyNazev1", atribut_2 AS "NovyNazev2" FROM Tym; </pre>

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
     host = "dbs.spskladno.cz"
    ,user = "student9"
    ,password = "spsnet"
    ,database = "vyuka9"
)
mycursor = mydb.cursor()

mycursor.execute("""SELECT * FROM Automobil
""") # do """""" se zadává samotný SQL požadavek
# příkaz execute si můžeme představit jako napsání SQL požadavku do phpMyAdmin
# Tento SQL dotaz nám vrátí všechny hodnoty zapsané v tabulce Automobil

# narozdíl od INSERTu nemusíme SELECT commitovat, protože do tabulky nic neukládáme

myresult = mycursor.fetchall() # tento příkaz nám uloží do všechny hodnoty do myresult

# nyní klidně můžeme vypsat data, ale nebudou vypsána přehledně
# takový výpis vypadá takto
# print(myresult)

# toto je však mnohem přehlednější výpis
for index, spz, pocet_sedadel, max_rychlost, nosnost, nutna_kvalifikace, datum_vyroby in myresult:
# do for cyklu musíme vypsat tolik proměnných kolik je atributů, které po SQL chceme,
# kdyby jich bylo míň/víc Python nám vyhodí chybu
    print(f"""
    Auto s ID {index}, SPZ {spz}, počtem sedadel {pocet_sedadel},
    maximální rychlostí {max_rychlost}, nosností {nosnost},
    nutná kvalifikace pro řízení {nutna_kvalifikace}, vyrobeno {datum_vyroby}
    """)

mycursor.close()
mydb.close()
# tyto poslední 2 příkazy nás odpojí od databáze

## Agregační fukce
Agregační funkce lze také pochopit jako seskupovací funkce. To jak tyto fukce fungují má na starosti SŘBD. Tyto funkce se používají spolu se SELECTem.

Nejčastější agregační funkce:
* AVG()	- Aritmetický průměr
* SUM()	- Součet
* COUNT() - Počet zapsaných hodnot v daném atributu
* MIN()	- Minimum
* MAX()	- Maximum

### Syntaxe agrefačních funkcí
AVG() -

    SELECT AVG(atribut) FROM nazevTabulky;


SUM() -

    SELECT SUM(atribut) FROM nazevTabulky;


COUNT()-

    SELECT COUNT(atribut) FROM nazevTabulky;


MIN()-

    SELECT MIN(atribut) FROM nazevTabulky;


MAX()-

    SELECT MAX(atribut) FROM nazevTabulky;

V Pythonu agregační funkce vypadají takto:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
 host = "dbs.spskladno.cz"
    ,user = "student9"
    ,password = "spsnet"
    ,database = "vyuka9"
)
mycursor = mydb.cursor()

mycursor.execute("""SELECT AVG(max_rychlost) FROM Automobil""")
# mycursor.execute("""SELECT SUM(max_rychlost) FROM Automobil""")
# mycursor.execute("""SELECT COUNT(max_rychlost) FROM Automobil""")
# mycursor.execute("""SELECT MIN(max_rychlost) FROM Automobil""")
# mycursor.execute("""SELECT MAX(max_rychlost) FROM Automobil""")

myresult = mycursor.fetchall() # tento příkaz nám stáhne všechny hodnoty do myresult

# nyní klidně můžeme vypsat data, ale nebudou vypsána přehledně
# takový výpis vypadá takto
# print(myresult)

# toto je však mnohem přehlednější výpis
for vysledek in myresult:
# do for cyklu musíme vypsat tolik proměnných kolik je atributů, které po SQL chceme,
# kdyby jich bylo míň/víc Python nám vyhodí chybu
    print(vysledek)

mycursor.close()
mydb.close()
# tyto poslední 2 příkazy nás odpojí od databáze

# Cvičení
Bude následovat pár cvičení na procvičení tohoto tématu.

## Cvičení 1 -
Připojte se do školní databáze a doplňte kód pro zapsání do databáze.

Do databáze zapište alespoň jeden řádek

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "dbs.spskladno.cz",
    user = "student9",
    password = "spsnet",
    database = "vyuka9"
)
mycursor = mydb.cursor()


mycursor.execute("""CREATE TABLE Mesto(
    `index` int AUTO_INCREMENT PRIMARY KEY,
    nazev char(20) NOT NULL,
    okres char(30) NOT NULL,
    kraj char(30) NOT NULL,
    pocet_obyvatel int NOT NULL
)""")

mydb.commit()

try:

    sql = """INSERT INTO Mesto (nazev, okres, kraj, pocet_obyvatel)
             VALUES (%s, %s, %s, %s)"""
    values = ("Kladno", "Kladno", "Středočeský", 70000)

    mycursor.execute(sql, values)
    mydb.commit()
    print("Jedna položka byla přidána.")

except mysql.connector.Error as chyba:
    print("Příkaz byl zadán chybně:\n", chyba)
    mycursor.execute("""DROP TABLE Mesto""")
    mydb.commit()

mycursor.close()
mydb.close()

Jedna položka byla přidána.

## Cvičení 2 -
Z tabulky do které jste ve cvičení 1 zapisovali vypište všechny informace

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
 host = "dbs.spskladno.cz"
    ,user = "student9"
    ,password = "spsnet"
    ,database = "vyuka9"
)
mycursor = mydb.cursor()

mycursor.execute("""SELECT * FROM Mesto
""")

myresult = mycursor.fetchall()

for index, nazev, okres, kraj, pocet_obyvatel in myresult:
  print(index, nazev, okres, kraj, pocet_obyvatel)

mycursor.close()
mydb.close()

1 Kladno Kladno Středočeský 70000

## Cvičení 3 -
Z tabulky Mesto ze cvičení 1 a 2 vypište:
* Počet měst
* Průměrný počet obyvatel
* Minimální počet obyvatel

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
  host = "dbs.spskladno.cz"
    ,user = "student9"
    ,password = "spsnet"
    ,database = "vyuka9"
)
mycursor = mydb.cursor()

mycursor.execute("""SELECT COUNT(nazev) FROM Mesto""")
myresult = mycursor.fetchall()
print(myresult)

mycursor.execute("""SELECT AVG(pocet_obyvatel) FROM Mesto""")
myresult = mycursor.fetchall()
print(myresult)

mycursor.execute("""SELECT MIN(pocet_obyvatel) FROM Mesto""")
myresult = mycursor.fetchall()
print(myresult)

mycursor.close()
mydb.close()

[(3,)]
[(Decimal('70000.0000'),)]
[(70000,)]